.Menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    font-size: large;
    color: wheat;
    background-color: rgba(141, 108, 59, 0.448);
    padding: 16px;
    padding-left: 25px;
    backdrop-filter: blur(30px);
    width: 100%;
}

.Menu>.Nav {
    position: relative;
    margin-left: -20px;
}

.Menu>.Nav>.active {
    color: rgb(208, 182, 130);
}

.Menu>.Nav>a:hover {
    color: rgb(208, 182, 130);
    font-weight: bold;
}

.Menu>.Nav>a {
    color: wheat;
    font-size: large;
    margin-left: 30px;
}

.Menu>.Auth {
    position: relative;
}