.PageNotFound>p {
    color: rgb(208, 182, 130);
    font-size: 20px;
    font-weight: bolder;
    margin-top: 80px;
}

.PageNotFound>iframe {
    border: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 14px 8px rgba(59, 43, 5, 0.524);
}